# Build results & Compiler Artifacts
[Bb]in/
[Oo]bj/
*.deps.json
*.runtimeconfig.json

# Sensitive personal data protection
.env
*.session
*.dat

# Visual Studio / Rider environment settings
.vs/
.idea/
*.user
*.suo